/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Mar 29, 2017, 8:39:29 PM
    Author     : quytocngheo
*/

.demo-card-wide.mdl-card {
  width: 550px;
  height: 200px;
  display: block;
  background-color: #EFF6E6;
    margin: 30px;
    transform-origin:center;
     position: relative;
     left: 25%;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: purple;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.go-detail {
  width:50px;
  height:50px;
  background-color: white;
  transform-origin:center;
   position: relative;
   top:33%
}

.outer {
  width:100px;
  height:100%;
  float: left;
}
span.job-title {
  color: #00B488;
  font-weight: bold;
  font-size: 20px;
  line-height: normal;
}
span.create-date {
  color: gray;
  line-height: normal;
  margin-top: 20px;
  display: inline-block;
}
a.job-title{
  color: inherit;
  display: inline-block;
  margin-top: 10px;
  font-weight: bold;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
}
.salary-text{
  position:relative;
  top:3px
  color: #c02537 !important;color: #FC6043;
  font-weight: bold;
  display: block;
}

.address-text{
  position:relative;
  top:3px
  color: #c02537 !important;color: #FC6043;
  display: block;
}

.job-label {
display: inline-block;
border: 1px;
border-style: solid;
border-radius: 5px;
border-color: #D2D3D3;
padding: 3px;
float: left;
margin-left: 5px;
}

.job-label:hover {
  color: #2E99EA;
  border-color: #2E99EA;
  font-weight: bold;
}
.item {
  margin-top: 10px;
}
